.bloop
.bsp
.DS_Store
.env*
.idea
.metals
.vscode
RUNNING_PID
target
vendor
.codacyrc
.php-cs-fixer.cache

project/*
!project/build.properties
!project/plugins.sbt

composer.phar
fixers-dump.json

docs/description/
docs/patterns.json
